<nav class="tabs">
  <a href="/" class="tab active">Home</a>
  <a href="/resume" class="tab">Resume</a>
  <a href="https://www.linkedin.com/in/shadeh-quashie/" target="_blank" class="tab">
    <img src="/icons/linkedin.svg" alt="LinkedIn" class="icon"> LinkedIn
  </a>
</nav>
